body {
    font-family: Helvetica, Arial;
    font-weight: lighter;
}

h1 {
    color: #333;
    margin: 0px;
    margin-top: 10px;
    border-bottom: 1px dotted #505050;
}

h2 {
    color: #202020;
    margin: 0px;
    margin-bottom: 5px;
    text-decoration: underline;
}

label {
    font-weight: bold;
}

input[type=button], input[type=submit] {
    width: 150px;
    float: left;
    margin-right: 3px;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

span.label, span.project {
    font-weight: bold;
    text-transform: capitalize;
}

div.description {
    padding-left: 15px;
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    margin-top: 1px;
    width: 500px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ddd;
    border: 2px solid #303030;
}

input {
    border: 2px solid black;
}

.info {
    display: none;
}

p {
    color: #666;
}

div#logo {
    width: 100%;
    text-align: center;
}

div#logo span {
    position: relative;
    font-size: 48px;
    display: inline-block;
    background: #222;
    margin-right: 3px;
    padding: 0 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    background-image: linear-gradient(bottom, rgb(23,21,21) 33%, rgb(46,45,44) 70%);
    background-image: -o-linear-gradient(bottom, rgb(23,21,21) 33%, rgb(46,45,44) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(23,21,21) 33%, rgb(46,45,44) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(23,21,21) 33%, rgb(46,45,44) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(23,21,21) 33%, rgb(46,45,44) 70%);
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.33, rgb(23,21,21)),
    	color-stop(0.7, rgb(46,45,44))
    );
}
